* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fbfbfb;
  --text-main: #2d2e32;
  --text-muted: #949494;
  --accent: #000000;
  --card-bg: #ffffff;
  --border: #ececec;
}


body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-main);
  display: flex;
  justify-content: center;
  padding-top: 12vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
